@model spr21team24finalproject.Models.ArtistReview

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>ArtistReview</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistAvgRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistAvgRating)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistScoreCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistScoreCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistScoreSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistScoreSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ArtistComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ArtistComment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.ArtistReviewID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
