@model spr21team24finalproject.Models.AlbumReview

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AlbumReview</h4>
    <hr />
    <dl class="row">
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumAvgRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumAvgRating)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumRating)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumRating)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumScoreCount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumScoreCount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumScoreSum)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumScoreSum)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AlbumComment)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AlbumComment)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.AlbumReviewID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
