@model IEnumerable<spr21team24finalproject.Models.Song>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<form asp-action="Index" asp-controller="Home" method="get">
    <p class="form-group">
        Search: <input name="SearchString" class="form-control" /><br />
        <button type="submit" class="btn btn-primary">Search</button>
    </p>
</form>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SongTitle)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongOriginalPrice)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SongDiscountPrice)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SongTitle)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongOriginalPrice)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SongDiscountPrice)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SongID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SongID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SongID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
